SUPABASE_URL=https://nlcvpwhdukskonswryno.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5sY3Zwd2hkdWtza29uc3dyeW5vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTk2MTYzNiwiZXhwIjoyMDkxNTM3NjM2fQ.MhjyWHRJvHe3K2WzWBAGY-6JizzbKppgMHzpnhaIp1Y